anyio==3.6.2
httpx==0.24.0
numba==0.57.0
numpy==1.24.2
python-on-whales>=0.64
setuptools>=61.0
snowflake-connector-python[pandas]>=3.2.1
starlette==0.26.1
torch==2.0.1
tqdm==4.65.0
transformers==4.30.1
uvicorn==0.21.1
